<h2> Add new Boat</h2>
<form (ngSubmit) = "onSubmit()">

  <div class="form-group">
    <label> Name </label>
    <input type="text" maxlength="80" class="form-control" id="name"
           [(ngModel)] = "boat.name" name="name">
  </div>

  <div class="form-group">
    <label> Description </label>
    <input type="text" maxlength="255" class="form-control" id="description"
           [(ngModel)] = "boat.description" name="description">
  </div>
  <br>
  <button class="btn btn-success" type="submit">Save</button>

</form>
