<br>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="header-panel"> Registration</div>
      <br>
      <br>
      <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="save(f.value)">
          <div class="form-group">
            <label class="control-label">UserName : </label>
            <input class="form-control" ngModel="" type="text" maxlength="80" name="userName" required/>
          </div>
          <div class="form-group">
            <label class="control-label">Password : </label>
            <input class="form-control" ngModel="" type="password" maxlength="80" name="password" required/>
          </div>
          <div class="form-group">
            <label class="control-label">Confim Password : </label>
            <input class="form-control" ngModel="" type="password" maxlength="80" name="repassword" required/>
          </div>

          <br>
          <button type="submit" class="btn btn-success" [disabled]="!f.valid"> Save</button>
        </form>
      </div>
    </div>
  </div>
</div>



