<h2> Boat List</h2>
<table class = "table table-striped" *ngIf="boatList">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody *ngIf="boatList">
    <tr *ngFor="let b of boatList._embedded.boats">
      <td>{{b.id}}</td>
      <td>{{b.name}}</td>
      <td>{{b.description}}</td>
      <td>
        <button (click)="boatDetails(b.id)" class="btn btn-success"> View</button>
        <button *ngIf="authService.isAdmin()" (click)="updateBoat(b.id)" class="btn btn-info" style="margin-left : 4%"> Update</button>
        <button *ngIf="authService.isAdmin()" class="btn btn-danger" style="margin-left : 4%"
                mwlConfirmationPopover
                popoverTitle="Delete boat"
                popoverMessage="Are you sure ?"
                placement="left"
                cancel=""
                (confirm)="deleteBoat(b.id)">
         Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
