<br>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="mode==1">
      <strong>Bad Credentials !</strong>
    </div>
    <div class="panel panel-primary">
      <div class="header-panel"> Authentification</div>
      <br>
      <br>
      <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
          <div class="form-group">
            <label class="control-label">UserName : </label>
            <input class="form-control" ngModel="" type="text" maxlength="80" name="userName" required/>
          </div>
          <div class="form-group">
            <label class="control-label">Password : </label>
            <input class="form-control" ngModel="" type="password" maxlength="80" name="password" required/>
          </div>
          <br>
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid"> Login</button>
          <button (click)="onRegister()" class="btn btn-success" style="margin-left: 3%"> Register</button>
        </form>
      </div>
    </div>
  </div>
</div>



