
<nav class="navbar navbar-expand-sm navbar-inverse bg-primary navbar-dark">
  <div class="container-fluid">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a routerLink="boats" routerLinkActive="active" class="nav-link"> Boat List </a>
    </li>
    <li class="nav-item">
      <a routerLink="add-boat" routerLinkActive="active" class="nav-link"> Add Boat </a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a class = "nav-item btn" (click)="authenticationService.logout()"> Login / Logout
      </a>
    </li>
  </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class= "footer">
  <div class="container">
    <span>All Rights Reserved 2021 @BENJELLOUN ANASS</span>
  </div>
</footer>

