<h2> View Boat Details</h2>
<br>
<div *ngIf="boat">
  <div>
    <label><b> Id : </b></label> {{boat.id}}
  </div>
  <br>
  <div>
    <label><b> Name : </b></label> {{boat.name}}
  </div>
  <br>
  <div>
    <label><b> Description : </b></label> {{boat.description}}
  </div>
  <br>
</div>
